{% extends 'puzzle_share/base.html' %}
{% block content %}


<a class = "nav-link" href="{% url 'puzzle_list' %}">All Puzzles</a>
<a class = "nav-link" href="{% url 'puzzles_checked_out' %}">Puzzles Checked Out</a>

<h3> Puzzles Currently Available</h3>

{% if status %}

    {% for puzzle in status %}
    <div class="puzzlelist-puzzle">
    <span class = "puzzle-details"> {{ puzzle }}</span>
   
    <form method="POST" action="{% url 'puzzle_checked_out' puzzle.pk %}">
        <label for="user_last_name">Enter your last name to check out this puzzle:</label>
        <input id="user_last_name"  type="text" name="user_last_name" required
        user_last_name = "user_last_name" value="{{current_name }}">
        {% csrf_token %}
        {{ form }}
       
        <!-- <button class="check-out" type="submit">Check Out</button> -->
        <input type="submit" value="Check Out">
    </form>

    
    
 
 </div>
    {% endfor %}



{% else %}

<p> There are no puzzles currently checked out</p>

{% endif %}







{% endblock %}