{% extends 'puzzle_share/base.html' %}
{% block content %}


<a class = "nav-link" href="{% url 'puzzle_list' %}">All Puzzles </a>
<a class = "nav-link" href="{% url 'puzzles_available' %}">Puzzles Available</a>

<h3>Puzzles Currently Checked Out</h3>

{% if status %}

    {% for puzzle in status %}
    <div class="puzzlelist-puzzle">
    <span class = "puzzle-details"> {{ puzzle }}</span>
   
    <form class="checked-out-form" method="POST" action="{% url 'puzzle_returned' puzzle.pk %}">
        {% csrf_token %}
        <button type="submit">Returned</button>
    </form>
 
 </div>
    {% endfor %}



{% else %}

<p> There are no puzzles currently checked out</p>

{% endif %}



{% endblock %}