{% extends 'puzzle_share/base.html' %}
{% load static %}
{% block content %}

<a class = "nav-link" href="{% url 'puzzles_available' %}">Puzzles Available</a>
<a class = "nav-link" href="{% url 'puzzles_checked_out' %}"> Puzzles Currently Checked Out</a>
<a class = "nav-link" href="{% url 'add_puzzle' %}">Add a Puzzle</a>
<hr>


<h4>Search</h4>
<form method="GET" action="{% url 'puzzle_list' %}">
    {{ search_form }}
    <button type="submit">Search</button>
</form>


<h3> All Puzzles - Available and Checked Out</h3>



{% for puzzle in puzzles %}

<div class="puzzlelist-puzzle">

    <span id="puzzle-name-{{ puzzle.pk }}" class="puzzle-details">
        <a href="{% url 'puzzle_details' puzzle_pk=puzzle.pk %}">{{ puzzle.name }} with {{puzzle.pieces}} pieces</a>
    
    {% if puzzle.status == 1 %}
    <p>Available</p>
    {% endif %}
    {% if puzzle.status == 2 %}
    <p>Checked out by {{ puzzle.user_last_name }}</p>
    {% endif %}
</span>
</div>



<script src="{% static 'js/confirm_delete.js' %}"></script>

{% empty %}

<P> No puzzles match search term</P>

{% endfor %}

{% endblock %}