{% extends 'puzzle_share/base.html' %}
{% block content %}

<a class = "nav-link" href="{% url 'puzzles_available' %}">Puzzles Available</a>
<a class = "nav-link" href="{% url 'puzzles_checked_out' %}"> Puzzles Currently Checked Out</a>
<a class = "nav-link" href="{% url 'add_puzzle' %}">Add a Puzzle</a>
<hr>


<h4>Search</h4>
<form method="GET" action="{% url 'puzzle_list' %}">
    {{ search_form }}
    <button type="submit">Search</button>
</form>


<h3> All Puzzles - Available and Checked Out</h3>

{% for puzzle in puzzles %}

<div class="puzzlelist-puzzle">
   <span class = "puzzle-details"> {{ puzzle }}</span>
    
</div>

{% empty %}

<P> No puzzles match search term</P>

{% endfor %}

{% endblock %}