span.puzzle-details {
    display: inline-block;
    width: 70%
}
form.checked-out-form {
    display: inline;
}

div.puzzlelist-puzzle {
    margin: 20px;
}
label {
    display: inline-block;
    padding-right: 8px;
}
a.nav-link  {
    padding-right: 40 px
}
#add-new-puzzle {
    background-color: blue;
    border: darkblue;
}

#site-header {
    
    color: blue;
    padding: 40px 00 40px 0 px;
    text-align: center;
}
.check-out{
    background-color:purple;;
    border-color: purple;
}